h1{
    color: chocolate;
    text-align: center;
}
h6{
    font-style: italic;
    text-align: center;
}
img{
    border-radius: 50%;
}   
.header{
    color: crimson;

}
.wrapper{
    font-style: italic;
}
